@import url('https://fonts.googleapis.com/css?family=Concert+One');
body {
	background-image: url("https://hirshhorn.si.edu/wp-content/uploads/2016/12/Eternity2.jpg");
	font-family: 'Concert One', cursive;

}
h1 {
	font-size: 70px;
	text-align: center;
	color: #f1f1f1;
}
#display {
	color: #f1f1f1;
	background: rgba(0, 0, 0, 0.5);
	/*background: rgb(241, 244, 66);*/
	
}
.container {
    position: relative; 
    max-width: 800px; /* Maximum width */
    /*margin: 0 auto; *//* Center it */
    /*display: inline-block;*/ 
}
.container .content {
    /*position: absolute;  Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
   /* display: inline-block;*/	

}
#wordBox {
	font-size: 45px;
	color: #f1f1f1;
	background: rgba(0, 0, 0, 0.5); 
}

